<p id="notice"><%= notice %></p>

<p>
  <strong>Plant alert licenc:</strong>
  <%= @drivers_license_alert.plant_alert_licenc %>
</p>

<%= link_to 'Edit', edit_drivers_license_alert_path(@drivers_license_alert) %> |
<%= link_to 'Back', drivers_license_alerts_path %>
