<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>New enterprise_client</h1>

	<%= render 'form' %>

	<%= button_to 'Volver', enterprise_clients_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>