<h1>Editar Empresa Externa</h1>

<%= render 'form' %>

<%= button_to 'Ver', @external_enterprise , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', external_enterprises_path, :method => 'get', :class => 'btn btn-default' %>
