<h1>Editar Vehículo</h1>

<%= render 'form' %>

<%= button_to 'Ver', :method => 'get', :class => 'btn btn-info' , @vehicle %> |
<%= button_to 'Volver', :method => 'get', :class => 'btn btn-default', vehicles_path %>
