<h1>Editar Vehículo</h1>

<%= render 'form' %>

<%= button_to 'Ver', @vehicle , :method => 'get', :class => 'btn btn-info'  %> 
<%= button_to 'Volver', vehicles_path, :method => 'get', :class => 'btn btn-default' %>
