<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>Editing natural_client</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @natural_client %> |
	<%= link_to 'Back', natural_clients_path %>

<% end %>