<p id="notice"><%= notice %></p>

<p>
  <strong>Run cli:</strong>
  <%= @natural_client.run_cli %>
</p>

<%= link_to 'Edit', edit_natural_client_path(@natural_client) %> |
<%= link_to 'Back', natural_clients_path %>
