<div class="container marg2">
		<br><br><br>

        <div class="row">
            <div class="col-lg-12 ">
				<div class="row cn1">
					<div class="col-lg-4 ">
						<h3>Conductores</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="http://fc01.deviantart.net/fs70/f/2011/252/e/b/chauffeur_hat_by_pukey187-d49bahz.png" /></a>
				
						<br><br>

						

					</div>
					<div class="col-lg-4 ">
						<h3>Operadores</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="https://cdn0.iconfinder.com/data/icons/online-shopping-3/78/Shopping_icons_vector-14-512.png" /></a>
				
						<br><br>


					</div>
					<div class="col-lg-4 ">
						<h3>Empresas</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="http://www.nocedal.cl/nuevo-sitio/wp-content/themes/nocedal_theme/img/cumple_icon_big.png" /></a>
				
						<br><br>


					</div>	
				</div>
			</div>
		</div>	
		<div class="row">
            <div class="col-lg-12 ">
				<div class="row cn1">
					<div class="col-lg-4 ">
						<h3>Cliente Natural</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="http://www.hanzoarchives.com/wp-content/uploads/2013/06/social_media_icon.jpg" /></a>
				
						<br><br>



					</div>
					<div class="col-lg-4 ">
						<h3>Cliente Empresa</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="http://www.orbitalpharma.com/clientes_files/icon-service.jpg" /></a>
				
						<br><br>


					</div>
					<div class="col-lg-4 ">
						<h3>Vehículos</h3>
												<hr>
							<a href="#"><img class="img-circle img-borde" height="250px" src="http://previewcf.turbosquid.com/Preview/Content_2010_10_05__13_25_34/NY_cab_01.jpg6e52d934-0bfe-45c8-8fa2-c925bff51d06Larger.jpg" /></a>
				
						<br><br>


					</div>
				</div>
			</div>
		</div>	
</div>
