<h1>Editing driver</h1>

<%= render 'form' %>

<%= button_to 'Ver', @driver, :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', drivers_path, :method => 'get', :class => 'btn btn-default' %>
