<h1>Editar Viaje</h1>

<%= render 'form' %>

<%= button_to 'Ver', @travel , :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', travels_path , :method => 'get', :class => 'btn btn-default' %>
