<h1>Editing travel</h1>

<%= render 'form' %>

<%= link_to 'Ver', @travel , :method => 'get', :class => 'btn btn-info' %> |
<%= link_to 'Volver', travels_path , :method => 'get', :class => 'btn btn-default' %>
