<h1>Editing offer_vehicle</h1>

<%= render 'form' %>

<%= button_to 'Ver', @offer_vehicle , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', offer_vehicles_path, :method => 'get', :class => 'btn btn-default'%>
