

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nom conc:</strong>
	  <%= @concept.nom_conc %>
	</p>

	<%= link_to 'Editar', edit_concept_path(@concept) %> |
	<%= link_to 'Volver', concepts_path %>

