<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>Editing comunne</h1>

	<%= render 'form' %>

	<%= link_to 'Ver', @comunne %> |
	<%= link_to 'Volver', comunnes_path %>

<% end %>