<p id="notice"><%= notice %></p>

<p>
  <strong>Plant alert rev tec:</strong>
  <%= @technical_review_alert.plant_alert_rev_tec %>
</p>

<%= link_to 'Edit', edit_technical_review_alert_path(@technical_review_alert) %> |
<%= link_to 'Back', technical_review_alerts_path %>
