// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cn1{
	text-align:center;
	
}

.img-borde{
	border: 8px solid grey;

}
.img-borde:hover{
	border: 10px solid green;
	transition: all 0.3s ease 0s;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;

	

}

.cin1{
	padding-left: 10%;
	padding-right: 10%;

}